* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    margin: 10px;
}
header {

    height: 100px;
    background-color: pink;
}

main {

    height: 300px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;

}

footer {

    height: 65px;
    background-color: pink;
}

.column1 {

    background-color: blue;
    height: 60%;
    width: 40%;



}

.column2 {

    background-color: violet;
    height: 100%;
    width: 60%;


}